
/* todoフォームのスタイル */


.alert-success {
    padding: 10px 30px;
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.alert-danger {
    padding: 10px 0;
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.alert--danger ul {
    margin: 0;
}

.todo__content {
    padding: 30px 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.section-title {
    margin: 0 auto;
    width: 70%;
}

.create-form,
.search-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
}

.create-form__item,
.search-form__item {
    display: flex;
    width: 70%;
}

.create-form__item-input,
.search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__select,
.search-form__select {
    margin-right: 80px;
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.create-form__button,
.search-form__button {
    width: 20%;
}

.create-form__button-submit {
    width: 100%;
    padding: 10px;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.todo-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__item {
    width: 90%;
}

.todo-table__header {
    padding: 10px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.todo-table__header-span {
    margin-right: 40%;
}
.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    padding: 10px;
    text-align: left;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    height: 90%;
    outline: none;
    border: none;
}

.update-form__item-p {
    text-align: left;
    font-size: 13px;
}

.update-form__button {
    text-align: center;
}

.update-form__button-submit {
    padding: 5px 10px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-form__button {
    text-align: center;
}

.delete-form__button-submit {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}